 /* .box{
  text-align: stretch;
   display: grid;
   grid-template-columns: 100px 1fr;

}  */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  height: 150px;
  width: 100%;
  
  background-color: #0af7ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
nav {
  padding: 30px;
  disply: flex;
  justify-content: flex-start;
}
h1 {
  padding: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.search {
  display: flex;
  width: 200px;
  border: 2px solid greenyellow;
  padding: 20px;
  
  background-color: #66d5fa;
}
.sidebar{
  background-color: #66d5fa;
  height: 1000px;
}
.display{
  margin: 60px;
  padding:20px;
  background-color: #66d5fa ;
  display: flex;
  flex-wrap: wrap;
  
}
img:hover{
  transform: scale(1.9);
}
img {
  transition: all .2s ease-in-out;
  width: 150px;
  
}

button{
  font-size: 20px;
  background-color: white;
  font-family: cursive;
  border: 2px solid black;
  border-radius: 6px;
}
body {
  background-color: #66d5fa;
  
}
.pokeCard {
  border: 2px solid #01FE05;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  background-color: honeydew;

}
.tooltip {
  border: 2px black solid;
  margin: 30px;
  font-size: 20px;
  color: #01FE05;
  text-align: center;
  animation: tooltip 1s ease-in-out infinite alternate;
}
select {
  font-size: 20px;
  font-family: fantasy;
  background-color:white;
  border-radius: 6px;
}
input{
  border: solid black 2px;
  font-size: 15px;
  border-radius: 6px;
}
@keyframes tooltip {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #01FE05, 0 0 40px #01FE05, 0 0 50px #01FE05, 0 0 60px #01FE05, 0 0 70px #01FE05;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #44bdd3, 0 0 40px #44bdd3, 0 0 50px #44bdd3, 0 0 60px #44bdd3, 0 0 70px #44bdd3, 0 0 80px #44bdd3;
  }
} 

.title {
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: tooltip 1s ease-in-out infinite alternate;
}

.tooltiptext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  margin: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  animation: tooltiptext 3s ease-in-out infinite alternate;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}
@keyframes tooltiptext {
  from {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
  }
  to {
    text-shadow: 0 0 00px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
  }
}  
a {
  text-decoration: none;
  color: crimson
}
a:hover{
  color: lightgreen;
}
.detail {
display: flex;
align-items: center;
justify-content: center;
  

}