.app{
  text-align: center;
   display: grid;
   grid-template-rows: 100%/ 20% 80%;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  height: 150px;
  width: 100%;
  background-color: #0af7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
}

.search {
  
  
  padding: 20px;
  background-color: #66d5fa;
}
img:hover{
  transform: scale(1.9);
}
img {
  transition: all .2s ease-in-out;
  width: 150px;
}

button{
  font-size: 20px;
  background-color: white;
  font-family: cursive;
  border: 2px solid black;
  border-radius: 6px;
}
body {
  background-color: #66d5fa;
  
}
.tooltip {
 
  font-size: 20px;
  color: #01FE05;
  text-align: center;
  animation: tooltip 1s ease-in-out infinite alternate;
}
select {
  font-size: 20px;
  font-family: fantasy;
  background-color:white;
  border-radius: 6px;
}
input{
  border: solid black 2px;
  font-size: 20px;
  border-radius: 6px;
}
@keyframes tooltip {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #01FE05, 0 0 40px #01FE05, 0 0 50px #01FE05, 0 0 60px #01FE05, 0 0 70px #01FE05;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #44bdd3, 0 0 40px #44bdd3, 0 0 50px #44bdd3, 0 0 60px #44bdd3, 0 0 70px #44bdd3, 0 0 80px #44bdd3;
  }
} 

.title {
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: tooltip 1s ease-in-out infinite alternate;
}

.tooltiptext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  animation: tooltiptext 3s ease-in-out infinite alternate;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}
@keyframes tooltiptext {
  from {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
  }
  to {
    text-shadow: 0 0 00px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
  }
}  